.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
  margin: auto;
}

.links {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:hover {
  color: rgb(1, 117, 117);
  border-bottom: 1px solid cyan;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.myflex {
  display: flex;
  border: 1px solid black;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  min-height: 300px;
  color: white;
}
.myflex .left-section {
  background-color: black;
  height: 100%;
  width: 80%;
}

.right-section {
  background-color: red;
  width: 80%;
}

.grid-Style {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 100px;
}
